<br>
<main class="container mb-3"></main>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
  let user
  axios.get('/posts')
    .then(posts => {
      console.log(posts)
      for (let i = 0; i < posts.data.length; i++) {
        axios.get(`/api/users/${posts.data[i].user_id}`)
          .then(username => {
            user = username.data.username
            let elem = $(`
        <div class="row border border-primary bg-light">
        <h2>${posts.data[i].title}</h2>
        <p>${posts.data[i].text}</p>
        <span>created by ${user} on ${posts.data[i].updatedAt.slice(0,10)}</span>
      </div>
      `)
            $('main').append(elem)
          })
      }
    })
</script>