<form>
  <div class="mb-3">
    <label for="title" class="form-label">post title</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="mb-3">
    <label for="text" class="form-label">Post</label>
    <textarea class="form-control" id="text" rows="9"></textarea>
  </div>
  <button id="submit" type="submit" class="btn btn-primary">Create Post</button>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  $('#submit').click(event => {
    event.preventDefault()
    axios.post('/posts', {
      text: document.getElementById('text').value,
      title: document.getElementById('title').value
    }, {
      headers: {
        'Authorization': `Bearer ${localStorage.getItem('token')}`
      }
    })
    .then(res=>{
      console.log('post created')
      document.getElementById('text').value = ''
      document.getElementById('title').value = ''
      })
    .catch(err => window.location = '/users/login')
  })
</script>