<form>
  <div class="mb-3">
    <label for="title" class="form-label">post title</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Post</label>
    <textarea class="form-control" id="body" rows="9"></textarea>
  </div>
  <button id="submit" type="submit" class="btn btn-primary">Create Post</button>
</form>